<h1><%= $game.name($game.player1)  %> vs <%= $game.name($game.player2)  %> </h1>
<br>
<br>
<br>
<h2> <%= $game.name($game.player2) %>: <%= $game.show_hp($game.player2) %>hp </h2>


<form action="/attack">
  <input type="submit" value="Attack!">
</form>
